* {
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.m-5 {
    margin: 100px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
}

span {
    color: #454545;
    font-size: 3rem;
    text-align: center;
}

.text-md {
    font-size: 2rem;
}

.section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.show {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
    transition: all 1s ease-in-out;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.text-sm {
    font-size: 1rem;
}